<mat-card class="rightpanel-card mat-elevation-z2">
    <mat-card-content>
        <h4 class="rightdivtext">
            Autor
        </h4>
    </mat-card-content>
    <mat-card-content>
        <div class="authorimagecontainer">
            <img class="authorimage" mat-card-avatar src="../../../assets/ankit-sharma.jpg">
            <h5>Fernando Alegre</h5>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h4 class="rightdivtext">
            Seguir en mis redes...
        </h4>
    </mat-card-content>
    <mat-card-content>
        <a href="https://www.facebook.com/fernandoalegredev" target="_blank"><i class="fa fa-facebook-square"
                aria-hidden="true"></i></a>
        <a href="https://twitter.com/alegrefernando" target="_blank"><i class="fa fa-twitter-square"
                aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/elvio-fernando-alegre-94164a27" target="_blank"><i class="fa fa-linkedin-square"
                aria-hidden="true"></i></a>
        <a href="https://github.com/fealegre" target="_blank"><i class="fa fa-github-square"
                aria-hidden="true"></i></a>
    </mat-card-content>
</mat-card>